<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../public/javascript/main.js" ></script>
    <title>Thông Báo</title>
</head>
<body>
    <!-- navigationbar -->
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/departments">Department</a></li>
            <li><a href="/notification">Notification</a></li>
            <li><a href="/profile/<%=userLogin._id%>">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <label id="icon">
            <i class="fa fa-bars"></i>
        </label>
    </nav>

    <!-- webbody -->
    <div id="newNotification">
        <a href='#' id="msg">Bạn có thông báo mới</a>
    </div>
    <div class="center">

        <!-- Chi tiet Thong bao -->
        <div id="details">

            <div id="details-infor">
                <h1><%=n.title%></h1>
                <span>Ngày đăng: </span><span><%=n.date%></span><br>
                <span>Phòng/Ban: </span><span><%=n.by%></span><br>
                <span>Chuyên mục: </span><span><%=n.chuyenmuc%></span>
                <br>
            </div>
            
            <div id="details-body">
                <p><%=n.nd%></p>
            </div>
           
            
        </div>
        <!-- ********** -->

    </div>

</body>
</html>